[Unit]
Description=MSAP1 FPGA AD7771 acquisition
Requires=msap1-dfx-firmware-rpu-load.service
After=msap1-dfx-firmware-rpu-load.service systemd-tmpfiles-setup.service

[Service]
Type=simple
Group=msap1-data
UMask=0007
ExecStart=/usr/bin/msap1-fpga-acquisition
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
