[Unit]
Description=MSAP1 FPGA AD7771 acquisition
Requires=msap1-settings.service msap1-meter-stream.service msap1-dfx-firmware-rpu-load.service
After=msap1-settings.service msap1-meter-stream.service msap1-dfx-firmware-rpu-load.service systemd-tmpfiles-setup.service

[Service]
Type=notify
SyslogIdentifier=msap1-fpga-acquisition
LogExtraFields=MNC_COMPONENT=fpga-acquisition
StandardOutput=journal
StandardError=journal
Group=mnc-data
SupplementaryGroups=mnc-settings
UMask=0007
NotifyAccess=main
WatchdogSec=20s
ExecStart=/usr/bin/msap1-fpga-acquisition --waveform-directory /data/mnc/waveform
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
