# Strict multimedia-off policy. AXI DMA/CMA/OpenAMP remain available.
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_DRM is not set
# CONFIG_SOUND is not set
# CONFIG_FB is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
# CONFIG_XILINX_FRMBUF is not set
# CONFIG_XILINX_ZYNQMP_DPDMA is not set
# CONFIG_XILINX_VCU is not set
# CONFIG_PHY_XILINX_VPHY is not set
# CONFIG_PHY_XILINX_HDMI is not set
