# Serial/network boot and metering are retained.
# CONFIG_VIDEO is not set
# CONFIG_VIDEO_ZYNQMP_DPSUB is not set
# CONFIG_XILINX_DPDMA is not set
# CONFIG_CMD_VIDCONSOLE is not set
CONFIG_ZYNQMP_MULTIMEDIA_OFF=y
